@charset "UTF-8";


/* ==================== PARA TABLET ==================== */ 

@media screen and (min-width: 768px) {
    
    section {
        width: 90%;
        max-width: 1000px;
        background-position: left top;
    }


    /* FOTO */
    section > #foto {
        height: 100%;
        width: 300px;
        background: url(../imagens/satan2.jpg) left center no-repeat fixed;
        background-size: cover;
        float: left;
    }


    /* DIV FORMULÃRIO */
    section > #formulario {
        float: right;
        width: 55%;
        height: 100%;
    }


}