@charset "UTF-8";


/* ==================== PARA TABLET ==================== */ 

@media screen and (min-width: 768px) {
    
    section {
        width: 90%;
        max-width: 1000px;
        background-position: left top;
    }


    /* FOTO */
    section > #foto {
        height: 600px;
        width: 300px;
        background: url(../imagens/satan2.jpg) left center no-repeat fixed;
        background-size: cover;
    }


    /* DIV FORMULÃRIO */

    section > #formulario {
        position: relative;
        left: 40%;
        top: -90%;

        width: 475px; /*VER ISSO AQUI*/
        max-width: ;

    }


}