@charset "UTF-8";

@font-face {
    font-family: 'satan';
    src: url(../fonts/Demon\ Blade.otf);
}

/* CORES
Quase preto: #0B0B0B
Quase marrom: #190001
Vermelho/marrom: #2D0106
Vinho: #6B020F
Vermelho sangue: #850111
Vermelho mais claro: #940e1b
*/ 

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: #850111;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
}


/* PARTE PRINCIPAL */
section { 
    background-color: white;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.429);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    overflow: hidden;

    transition: width .3s, height 3s;
    transition-timing-function: ease;
}

/* FOTO */
section > #foto {
    display: block;
    height: 250px;
    background: url(../imagens/satan.jpg) top center no-repeat fixed;
    background-size: cover;
}

/* FORMULÃRIO */
section > #formulario {
    display: block;
    padding: 25px;
}

section > #formulario > h1 {
    color: #6B020F;
    font-family: 'satan', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3.3em;
    padding-bottom: 20px;
}

section > #formulario > p {
    color: #190001;
    text-align: justify;
    padding: 0 10px 20px 10px;
}

section > #formulario > #campo {
    text-align: justify;
    padding: 5px;
    
}

form > input[type=submit] {
    display: block;
    margin: auto;
    background-color: #850111;
    color: white;
    font-size: 1em;
    padding: 5px;
    width: 100%;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #6B020F;
}

form > a.botao {
    display: block;
    text-align: center;
    background-color: #940e1b;
    color: white;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    height: 40px;

}

form > a.botao:hover {
    background-color: #6B020F;
}
form > a > i {

}
