@charset "UTF-8";

@font-face {
    font-family: 'satan';
    src: url(../fonts/Demon\ Blade.otf);
}

/* CORES
Quase preto: #0B0B0B
Quase marrom: #190001
Vermelho/marrom: #2D0106
Vinho: #6B020F
Vermelho sangue: #850111
Vermelho mais claro: #940e1b
*/ 

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
}

main {
    background-image: url(../imagens/fogo.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


header {
    height: 0px;
    width: 0px;
}

/* PARTE PRINCIPAL */
section { 
    background-color: white;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.429);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    overflow: hidden;

    transition: width .3s, height 3s;
    transition-timing-function: ease;
}

/* FOTO */
section > #foto {
    display: block;
    height: 250px;
    background: url(../imagens/satan.jpg) top center no-repeat fixed;
    background-size: cover;
}

/* FORMULÃRIO */
section > #formulario {
    display: block;
    padding: 15px 20px 20px 20px;
}

/*VENDA SUA ALMA*/
section > #formulario > h1 {
    color: #940e1b;
    font-family: 'satan', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3.3em;
    padding-bottom: 10px;
}

/*TEXTO*/
section > #formulario > p {
    color: #190001;
    text-align: justify;
    padding: 0 10px 10px 10px;
}

/*USUARIO SENHA*/
section > #formulario > #campo {
    text-align: justify;
    padding: 5px;
}

/*FORMULARIO*/

form > div.campo {
    background-color: #940e1b;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.452);
    padding: 5px;
    margin: 5px 0px;
    height: 30px;
    border-radius: 5px;
}

div.campo > label {
    display: none;
}

form > div.campo > i {
    color: white;
    font-size: 2em;
    padding: 01px;
}

div.campo > input {
    background-color: white;
    font-size: 1em;
    height: 100%;
    border: 0;
    border-radius: 3px;
    width: calc(100% - 40px);
    transform: translateY(-43%);
}


/*ENTRAR*/
form > input[type=submit] {
    display: block;
    margin: auto;
    background-color: #940e1b;
    color: white;
    font-size: 0.8em;
    margin-top: 5;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    height: 30px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #6B020F;
}

/*ESQUECI A SENHA*/
form > a.botao {
    display: block;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    height: 22px;
    padding-top: 8px;
    background-color: #940e1b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    color: #de9098;
}

form > a.botao:hover {
    background-color: #6B020F;
}

form > a.botao > i {
    font-size: 1em;
}
